/*
content.css
*/
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 0.8em;
	margin: 10px;
	color: #000000;
	overflow: hidden;
}

.popup {
	width: 400px;
	min-height: 400px;
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	margin: 0px;
}

.link {
	color: #68d;
	cursor: pointer;
	text-decoration: underline;
}

#header {
	height: 40px;
	border-bottom: solid 1px #eee;
	pdding-top: 5px;
	pdding-left: 5px;
	background: url("../img/icon_24x24.png") 0px 5px no-repeat;
	background-position: 1em 7px;
}

#header h1 {
	position: absolute;
	font-size: 1.2em;
	display: inline;
	padding-left: 48px;
	height: 40px;
}

#config {
	width: 380px;
	padding-left: 0.5em;
	overflow-x: auto;
	margin-top: 0px;
}

.section-header {
	background: #ebeff9;
	border-top: 1px solid #b5c7de;
	font-size: 99%;
	padding: 3px 0 2px 5px;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 4em;
}

.section-header.first {
	margin-top: 1em;
}

#custom-query {
	width: 300px;
	margin-left: 2px;
}

#footr {
	width: 395px;
	position: absolute;
	border-top: solid 1px #eee;
	margin-top: 4px;
	bottom: 0px;
	background-color: #ffffff;
	position: absolute;
}

#probes {
	width: 380px;
	display: block;
}

ol#probes {
	margin: 0px;
	padding: 0px;
}

li {
	margin: 1px;;
	padding: 1px;
	line-height: 15px;
}

.title {
	display: block;
	height: 28px;
	padding: 2px;
}

.probe {
	display: block;
	height: 28px;
	padding: 2px;
}

.tag {
	width: 190px;
	display: inline;
	float: left;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
}

.span_tag {
	width: 190px;
	float: left;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	margin-top: -2px;
	cursor: default;
}

#probe_geo {
	position: absolute;
	left: 38px;
	width: 200px;
	height: 10px;
	margin-top:16px;
	vertical-align: middle;
	cursor: default;
	overflow: hidden;
	font-size: 0.7em;
	color: #999;
	font-style: italic;
	text-align: right;
}

#probe_geo.hd {
	display: none;
}

.hd {
	display: none;
}

#btnRemove {
	background-image: url('../img/icon_remove.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}

#btnRefresh {
	width: 16px;
	height: 16px;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}

#btnRefresh.idle {
	background-image: url('../img/icon_refresh.png');
	background-repeat: no-repeat;
}

#btnRefresh.reloading {
	background-image: url('../img/icon_ajax_loader.gif');
	background-repeat: repeat;
}

#btnRemove.hd {
	display: none;
}

#btnSave {
	background-image: url('../img/icon_save.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}

#btnSave.hd {
	display: none;
}

#btnAdd {
	background-image: url('../img/icon_add.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	width: 100px;
	padding-left: 20px;
	cursor: pointer;
	margin-top: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 10px;
}

#btnOptions {
	background-image: url('../img/icon_geo.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}

#iconService {
	background-image: url('../img/icon.png');
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
}

#iconService.service_twitter {
	background-image: url('../img/icon_service_twitter.png');
}

#iconService.service_buzz {
	background-image: url('../img/icon_service_buzz.png');
}

#iconService.service_facebook {
	background-image: url('../img/icon_service_facebook.png');
}

.avgWeek {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 10px;
	border: 1px solid #ccc;
	overflow: hidden;
	padding: 2px;
	margin-top: 4px;
	cursor: default;
}

.avgDay {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 2px;
	border: 1px solid #ccc;
	overflow: hidden;
	padding: 2px;
	margin-top: 4px;
	cursor: default;
}

.tKeywords {
	width: 60px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 30px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 2px;
	margin-top: 4px;
	cursor: default;
}

.cTpM {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 139px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 2px;
	margin-top: 4px;
	cursor: default;
}

.ltTpM {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 5px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 2px;
	margin-top: 4px;
	cursor: default;
}

#template {
	display: none;
}

.option_row {
	clear: left;
	padding-bottom: 2.5em;
	padding-left: 1em;
}

.option_name {
	float: left;
	font-weight: bold;
	margin-top: 3px;
	width: 13em
}

.option_picker {
	float: left
}

.warn {
	background-color: #CC3333;
}

.marker {
	background-color: #ff9999;
}

.selected {
	background-color: #ffff99;
}

.disabled {
	opacity: 0.4;
	filter: alpha(opacity =                             40);
}

.cls {
	clear: both;
	height: 1px;
	margin-bottom: -1px;
	line-height: 1px;
	margin: 0px;
}

#options {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
	background-color: white;
	display: none;
	padding: 5px;
}

.loader {
	background-image: url('../img/loader_bar.gif');
	background-repeat: repeat;
	opacity: 0.4;
	filter: alpha(opacity =                               40);
}

#map_canvas {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: rgb(229, 227, 223);
	margin: 5px;
}

#enable_location {
	display: inline;
}

#disable_location {
	display: inline;
}

#save_status {
	display: none;
	background-color: #ffff99;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #ffff99;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
}

#tooltip h3,#tooltip div {
	margin: 0;
}