/*
content.css
*/
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	margin: 10px;
}

.popup {
	width: 400px;
	min-height: 400px;
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	margin: 0px;
}

.link {
	color: #68d;
	cursor: pointer;
	text-decoration: underline;
}

#header {
	padding: 5px;
	border-bottom: solid 1px #eee;
}

#config {
	width: 380px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: auto;
}

#header h1 {
	font-size: 156%;
	display: inline;
	padding-bottom: 43px;
	padding-left: 75px;
	padding-top: 40px;
	background: url('../img/icon_128.png') no-repeat;
	background-size: 67px;
	background-position: 1px 18px;
}

.section-header {
	background: #ebeff9;
	border-top: 1px solid #b5c7de;
	font-size: 99%;
	padding: 3px 0 2px 5px;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 4em;
}

.section-header.first {
	margin-top: 1em;
}

#custom-query {
	width: 300px;
	margin-left: 2px;
}

#footer {
	position: absolute;
	border-top: solid 1px #eee;
	margin-top: 4px;
	bottom: 0px;
	left: 5px;
}

#probes {
	width: 380px;
	display: block;
}

.probe {
	display: block;
	height: 28px;
	padding: 2px;
}

.tag {
	width: 200px;
	display: inline;
	float: left;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
}

.span_tag {
	width: 200px;
	float: left;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	margin-top: 2px;
	cursor: pointer;
}

.hd {
	display: none;
}

#btnRemove {
	background-image: url('../img/icon_remove.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}

#btnRemove.hd {
	display: none;
}

#btnAdd {
	background-image: url('../img/icon_add.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	padding-left: 10px;
	width: 100px;
	padding-left: 20px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 20px;
}

#btnOptions {
	background-image: url('../img/icon_options.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}

#iconService {
	background-image: url('../img/icon_service_twitter.png');
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
}

.avgWeek {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 10px;
}

.avgDay {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 2px;
}

#template {
	display: none;
}

.option_row {
	clear: left;
	padding: 2.5em 1em 0
}

.option_name {
	float: left;
	font-weight: bold;
	margin-top: 3px;
	width: 13em
}

.option_picker {
	float: left
}

.warn {
	border: 1px dotted #ff0000;
}

.selected {
	background-color: #ffff99;
}

.clear {
	clear: both;
	height: 1px;
	margin-bottom: -1px;
	font-size: 1px;
	line-height: 1px;
	margin: 0px;
}

#options {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
	background-color: white;
	display: none;
	padding:5px;
}

.loader {
	background-image: url('../img/loader_bar.gif');
	background-repeat: repeat;
	opacity: 0.4;
	filter: alpha(opacity =     40);
}

#map_canvas {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: rgb(229, 227, 223);
	margin:5px;
}

#save_location{

}

#save_status{
	display: none;
}