body {
	background-color: #ebeff9;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color: #000000;
}

#content {
	background-color: #ffffff;
	border-color: #b5c7de;
	border-style: solid;
	border-width: 4px;
	margin: 40px auto 20px;
	padding: 12px;
	width: 600px;
	-webkit-border-radius: 10px;
}

#content h1 {
	color: #333333;
	font-size: 1.5em;
	margin: 0.7em 0 0;
	text-align: center
}

#header {
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 15px;
	margin: 10px;
	background: url("../img/icon_48x48.png") 80px 2px no-repeat;
	background-position: 5px 5px 5px 5px;
	text-align: center
}

#header h1 {
	margin: 0px;
	font-size: 160%;
	font-weight: bold;
	display: inline;
	padding-bottom: 10px;
	padding-left: 55px;
	padding-top: 20px;
}

.section-header {
	background: #ebeff9;
	border-top: 1px solid #b5c7de;
	font-size: 99%;
	padding: 3px 0 2px 5px;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 4em;
}

.section-header.first {
	margin-top: 1em;
}

#custom-domain {
	width: 300px;
	margin-left: 2px;
}

.option_row {
	clear: left;
	padding: 2.5em 1em 0
}

.option_name {
	float: left;
	font-weight: bold;
	margin-top: 3px;
	width: 13em
}

.option_picker {
	float: left
}

.buttons {
	clear: left;
	padding: 2em 1em 0.7em
}

#save_status {
	display: none;
	background-color: #ffff99;
}

.footr {
	text-align: center;
	argin-top: 0.4em
}

.hd {
	display: none;
}

#map_canvas {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: rgb(229, 227, 223);
	margin: 5px;
}

#status {
	background-color: #ffff99;
}

.success {
	background-color: #99ff99;
}

.fail {
	background-color: #ff9999;
}