/*
content.css
*/
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	margin: 10px;
}

#header {
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

#header h1 {
	font-size: 156%;
	display: inline;
	padding-bottom: 43px;
	padding-left: 75px;
	padding-top: 40px;
	background: url(icon_128.png) no-repeat;
	background-size: 67px;
	background-position: 1px 18px;
}

.section-header {
	background: #ebeff9;
	border-top: 1px solid #b5c7de;
	font-size: 99%;
	padding: 3px 0 2px 5px;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 4em;
}

.section-header.first {
	margin-top: 1em;
}

#custom-query {
	width: 300px;
	margin-left: 2px;
}

#footer {
	margin-top: 4em;
}

#filters {
	width: 300px;
	display: block;
}

.filter {
	display: block;
	white-space: nowrap;
}

.tag {
	width: 160px;
	display: inline;
}

#btnRemove {
	background-image: url('icon_remove.png');
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	display: block;
	float: right;
	vertical-align: middle;
}

#btnAdd {
	background-image: url('icon_add.png');
	background-repeat: no-repeat;
	height: 14px;
	display: block;
	padding-left: 10px;
	width: 100px;
	padding-left: 20px;
}

#iconService {
	background-image: url('icon_service_twitter.png');
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
	display: block;
	float: left;
	vertical-align: middle;
}

.avgWeek {
	width: 30px;
	display: inline;
}

.avgDay {
	width: 30px;
	display: inline;
}

#template{
	display:none;
}