/*
content.css
*/
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	margin: 10px;
}

.link {
	color: #68d;
	cursor: pointer;
	text-decoration: underline;
}

#header {
	padding: 5px;
	border-bottom: solid 1px #eee;
}

#header h1 {
	font-size: 156%;
	display: inline;
	padding-bottom: 43px;
	padding-left: 75px;
	padding-top: 40px;
	background: url(icon_128.png) no-repeat;
	background-size: 67px;
	background-position: 1px 18px;
}

.section-header {
	background: #ebeff9;
	border-top: 1px solid #b5c7de;
	font-size: 99%;
	padding: 3px 0 2px 5px;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 4em;
}

.section-header.first {
	margin-top: 1em;
}

#custom-query {
	width: 300px;
	margin-left: 2px;
}

#footer {
	margin-top: 4em;
}

#probes {
	width: 300px;
	display: block;
}

.probe {
	display: block;
	height: 28px;
}

.tag {
	width: 160px;
	display: inline;
	float: left;
}

#btnRemove {
	background-image: url('icon_remove.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
}

#btnAdd {
	background-image: url('icon_add.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	padding-left: 10px;
	width: 100px;
	padding-left: 20px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 20px;
}

#iconService {
	background-image: url('icon_service_twitter.png');
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 5px;
	margin-right: 2px;
}

.avgWeek {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 10px;
}

.avgDay {
	width: 30px;
	display: inline;
	text-align: right;
	float: left;
	margin-left: 2px;
}

#template {
	display: none;
}

.option_row {
	clear: left;
	padding: 2.5em 1em 0
}

.option_name {
	float: left;
	font-weight: bold;
	margin-top: 3px;
	width: 13em
}

.option_picker {
	float: left
}

.warn {
	border: 1px dotted #ff0000;
}

.clear {
	clear: both;
	height: 1px;
	margin-bottom: -1px;
	font-size: 1px;
	line-height: 1px;
}